<div class="container">
    {{#each contacts}}
    <div class="media">
  <img src="/images/user.jpg" class="mr-3" width="64" height="64">
  <div class="media-body">
    <h5 class="mt-0">{{name}}</h5>
    <p>{{message}}</p>
    <small><a href="mailto:{{email}}">{{email}}</a></small>
    <small>{{date}}</small>
  </div>
</div>
<hr>
{{else}}
<p>No contacts found ..</p>
{{/each}}
<p><a href="/">Home Page</a></p>
</div>